

body{
    width: 70%;
    margin: 20px auto;
    padding: auto;
    font-family: Arial,sans-serif;
    background-color:#FFFFFF ;
    

}
.container{
    width: 100%;
    margin: 30px;
    box-shadow: 0 0 5px black ;
}

.header{
padding: 5px;
font-size: 27px;
font-weight: bold;

}
.dollar{
    font-size: 30px;
    color: #FFFFFF;
}
.content{
    
    display: flex;
    flex-direction: row;
   
    

}
.content h3{
    color: #FFFFFF;
}

.content p{
    color: #A9E1E7;
    font-size: 25px;
    font-weight: lighter;
}

.column1{
    box-shadow: 0 0 1px #49B3A5 ;
    background-color: #49B3A5;
    width: 50%;
    padding: 20px;
}

.column2{
    background-color: #60BEB0;
    padding: 20px;
    width: 50%;
}

.button{
    width: 80%;
    background-color: #C4EB2E;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;


    
}

.button:hover{
    background-color: green
    
}
.container2{
    margin: 10px;
    padding: 20px;
}
.container2 h1{
    color: #519C8f;
    padding: 5px;
font-size: 35px;
}
.container2 h3{
    color:#BFDF32;
}
.container2 p{
    color: #BABFC3;
    font-size: 25px;
    font-weight: lighter;
}

@media(min:600px){
    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
   

}


